@model Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectCreatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectCreatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundingGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundingGoal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAmountFunded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAmountFunded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
